@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
body{
    font-family: 'Open Sans', sans-serif;
}
/*nav-section-is-start*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.text-primary{
    color: #FD6E0A;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #fff;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 25px;

}

/*header background style*/

.header{
    background-color: #FFF8F3;;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner .profile-pic{
    width: 584px;
    height: 676px;
}


























